<footer class="footer">
  <div class="footer--content">
    <div class="footer--content--about">
      <img src="assets/images/logo.svg">
      <label class="footer--content--about--info">Mais de 50 anos de tradição, com um atendimento de qualidade, excelência no serviço e sempre procurando o
        preço mais justo para o cliente.</label>
    </div>

    <div class="footer--content--list">
      <h3>Sobre</h3>
      <div class="footer--content--list--items">
        <ng-container *ngFor="let item of aboutItems">
          <a (click)="openModal(item.link)">{{ item.name }}</a>
        </ng-container>
      </div>
    </div>

    <div class="footer--content--list">
      <h3>Serviços</h3>

      <div class="footer--content--list--items">
        <ng-container *ngFor="let item of serviceList">
          <a (click)="openModal(item.link)">{{ item.name }}</a>
        </ng-container>
      </div>
    </div>

    <div class="footer--content--download">
      <h3>
        Baixe nosso App
      </h3>

      <div class="footer--content--download--items">
        <div class="footer--content--download--items--stores">
          <a href="https://play.google.com/store/apps/details?id=br.com.autogeral.ecommerce_app&pli=1" target="_blank">
            <img src="https://autogeral.com.br/images/fragments/footer/google-play.webp">
          </a>
          <a href="https://apps.apple.com/br/app/auto-geral-autope%C3%A7as/id1583077391" target="_blank">
            <img src="https://autogeral.com.br/images/fragments/footer/app-store.webp">
          </a>
        </div>
        <img src="assets/images/qr-code.svg">
      </div>
    </div>
  </div>

  <div style="border-bottom: .1rem solid white"></div>

  <div class="footer--rights">
    <label>Todos os direitos reservados Auto geral Autopeças 2023</label>
    <div>
      <label>Desenvolvido por Vinícius Martins Granso</label>
    </div>
  </div>
</footer>
