<footer class="footer">
  <div class="footer--content">
    <div class="footer--content--about">
      <img src="assets/images/logo.svg">
      <label class="footer--content--about--info">Mais de 50 anos de tradição, com um atendimento de qualidade, excelência no serviço e sempre procurando o
        preço mais justo para o cliente.</label>
    </div>
    <div class="footer--content--list">
      <h3>Sobre</h3>
      <div class="footer--content--list--items">
        <a>Quem somos</a>
        <a>Políticas da loja</a>
        <a>Políticas de privacidade</a>
        <a>Lojas</a>
        <a>Blog</a>
      </div>
    </div>
    <div class="footer--content--list">
      <h3>Serviços</h3>

      <div class="footer--content--list--items">
        <a>Quem somos</a>
        <a>Políticas da loja</a>
        <a>Políticas de privacidade</a>
      </div>
    </div>
    <div class="footer--content--download">
      <h3>
        Baixe nosso App
      </h3>
      <div class="footer--content--download--items">
        <div class="footer--content--download--items--stores">
          <img src="https://autogeral.com.br/images/fragments/footer/google-play.webp">
          <img src="https://autogeral.com.br/images/fragments/footer/app-store.webp">
        </div>
        <img src="assets/images/qr-code.svg">
      </div>
    </div>
  </div>

  <div style="border-bottom: .1rem solid white"></div>

  <div class="footer--rights">
    <label>Todos os direitos reservados Auto geral Autopeças 2023</label>
    <div>
      <label>Desenvolvido por Vinícius Martins Granso</label>
    </div>
  </div>
</footer>
