<div class="navbar">
  <div class="navbar--logo" (click)="goToHome()">
    <img src="assets/images/logo.svg">
  </div>

  <div class="navbar--search">
    <input type="text" placeholder="O que você precisa?">
    <img class="click-images" src="assets/images/search.svg">
  </div>

  <div class="navbar--options">
    <a class="navbar--options--item">
      <img src="assets/images/user.svg">
      Entrar
    </a>

    <a class="navbar--options--item">
      <img src="assets/images/shopping.svg">
      Carrinho
    </a>
  </div>
</div>
